{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":3,"column":0},"end":{"row":3,"column":16},"action":"remove","lines":["CodeIntel==0.9.3"],"id":2},{"start":{"row":2,"column":34},"end":{"row":3,"column":0},"action":"remove","lines":["",""]}],[{"start":{"row":7,"column":0},"end":{"row":7,"column":14},"action":"remove","lines":["futures==3.2.0"],"id":3},{"start":{"row":6,"column":13},"end":{"row":7,"column":0},"action":"remove","lines":["",""]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":6,"column":13},"end":{"row":6,"column":13},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":32,"state":"start","mode":"ace/mode/text"}},"timestamp":1562244047192,"hash":"3798e6be807564ce2517eb408e88ba50b4d9b48e"}